/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #bcbec0; text-decoration:none; font-weight:bold}
a:visited { color: #bcbec0; }
a:hover { color: #808285; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Hengki Sihombing | twitter : @hengkiardo
   ========================================================================== */   
body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
#container{
	width:520px;
	height:700px;
	min-height:700px;
	height:auto !important;
	margin:0 auto;
	position:relative;
}
/* INDEX PAGE */
#container.index{
	background:url(../img/bg-home.jpg) no-repeat 0 0;
}
	#container.index h1{
		display:block;
		height:231px;
		width:293px;
		position:absolute;
		bottom:240px;
		left:106px;
		text-indent:-9999px;
		overflow:hidden;
		z-index:1000
	}
		#container.index h1 a{
			height:231px;
			width:293px;
			display:block;
			background:url(../img/travel-in-style-logo.png) no-repeat 0 0;
		}
		
	.index #main{
		position:relative;
		height:700px;
		min-height:700px;
		height:auto !important;
		width:100%;
		margin:0 auto;
	}
		.index #main .links{
			position:absolute;
			bottom:10px;
			left:0;
			z-index:1000;
		}
			.links .link-home{
				display:inline-block;
				height:40px;
				text-indent:-9999px;
				overflow:hidden;
				margin:0 0 0 27px;
				-webkit-transition: all 0.3s ease-in-out; 
				-moz-transition: all 0.3s ease-in-out; 
				-o-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
				.links .link-home:hover{
					opacity:0.8;
					background-position:center 0px !important;
				}
			.links #site{
				background:url(../img/site.png) no-repeat center 15px;
				width:147px;
			}
				.links #site:hover{
					opacity:0.8;
					background-position:center 5px !important;
				}
			.links #fb{
				background:url(../img/fb.png) no-repeat center center;
				width:132px;
			}
			.links #twitter{
				background:url(../img/twitter.png) no-repeat center 6px;
				width:122px;
			}

#container.page{
	width:520px !important;
	background:#fff url(../img/bg-container.jpg) repeat-x top left;
}	
	#container.page header{
		display:block;
		background:url(../img/bg-header.png) no-repeat 0 15px;
		height:71px;
		width:405px;
		margin:0 auto;
		padding:15px 0 10px 0;
	}
	#container.page header h1,
	#container.page header h2{
		text-indent:-9999px;
		overflow:hidden;
		margin:0;
		padding:0;
	}

#main.home{
	margin:0 auto;
	padding:0 28px;
}
	#main.home .nav{
		position:relative;
		z-index:10
	}
		#main.home .nav a img{
			opacity:0.9
		}
		#main.home .nav a img:hover,
		#main.home .nav a:hover img{
			opacity:1
		}
	
	#main.home .first{
		margin:0 0 8px 0;
		width:406px;
	}
		#main.home .first a {
			display:block;
			box-shadow:3px 3px 2px 0px #f1f1f1;
			-moz-box-shadow:3px 3px 2px 0px#f1f1f1;
			-webkit-box-shadow:3px 3px 2px 0px #f1f1f1;
			border-radius:13px;
			-moz-border-radius:13px;
			-webkit-border-radius:13px;
		}	
		
	#main.home .second{
		width:236px;
		float:left;
		margin:0 7px 0 0;
	}
		#main.home .second a {
			display:block;
			box-shadow:1px 3px 4px 1px #f1f1f1;
			-moz-box-shadow:1px 3px 4px 1px #f1f1f1;
			-webkit-box-shadow:1px 3px 4px 1px #f1f1f1;
			border-radius:15px;
			-moz-border-radius:15px;
			-webkit-border-radius:15px;
		}
	#main.home .three,
	#main.home .four{
		float:left;
		width:163px;
		padding:0;
	}
	#main.home .three{
		margin:0 0 7px; 0
	}

#main a.back{
	display:block;
	width:150px;
	position:absolute;
	top:13px;
	left:0px;
}

footer{
	height:136px;
	position:absolute;
	z-index:0;
	left:0;
	bottom:0;	
	width:520px;
}
#container.page footer{
	background:url(../img/footer.png) no-repeat 0 0;
}

#container.booklet footer{
	background:url(../img/footer-booklet.jpg) no-repeat 0 0 !important;
	height:152px !important
}

/*#container.booklet footer{
	height:143px;
	background:url(../img/footer-booklet.jpg) repeat-x 0 0 !important;
}
*/

/*************************************** SLIDESHOW ***************************************/
.ad-gallery {
	width:520px;
	position:relative;
	z-index:5;
}
.ad-gallery, .ad-gallery * {
	margin: 0 auto;
	padding: 0;
}
	.ad-gallery .ad-image-wrapper {
		width:520px;
		height:729px;
		position: relative;
		overflow: hidden;
	}
  		.ad-gallery .ad-image-wrapper .ad-image {
			position: absolute;
			overflow: hidden;
			top: 0 !important;
			left: 0;
			width: 520px !important;
			height:729px !important;
			z-index: 9;			
		}
			.ad-gallery .ad-image-wrapper .ad-image a img,
			.ad-gallery .ad-image-wrapper .ad-image img{
				border:none;
				padding:0;
				margin:0;
			}
			.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding: 7px;
				text-align: left;
				width: 521px;
				z-index: 2;
				background: url(opa75.png);
				color: #000;
			}
			* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
				background: none;
				filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
			}
			.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
				display: block;
			}
		
		.ad-gallery .ad-image-wrapper .ad-loader {
			position: absolute;
			z-index: 10;
			top: 48%;
			left: 48%;
		}
			
		.ad-gallery .ad-image-wrapper .ad-next,
		.ad-gallery .ad-image-wrapper .ad-prev{
			width:58px;
			position: absolute;
			height:58px !important;
			cursor: pointer;
			display: block;
			z-index: 100;
			bottom: 20px;
			background:#fff;
			display:block !important;
			visibility:visible !important;
			opacity:0.4;			
		}
		.ad-gallery .ad-image-wrapper .ad-next {
			right:0;
			
			border-radius:13px 0 0 13px;
			-moz-border-radius:13px 0 0 13px;
			-webkit-border-radius:13px 0 0 13px;					
			box-shadow:0 0 2px 2px #ccc;
			-moz-box-shadow:0 0 2px 2px #ccc;
			-webkit-box-shadow:0 0 2px 2px #ccc;
		}
		.ad-gallery .ad-image-wrapper .ad-prev {		
			left:0;
			border-radius:0 13px 13px 0;
			-moz-boder-radius:0 13px 13px 0;
			-webkit-border-radius:0 13px 13px 0;
			-o-border-radius:0 13px 13px 0;;						
		}	
		.ad-gallery .ad-image-wrapper .ad-next:hover,
		.ad-gallery .ad-image-wrapper .ad-prev:hover{
			opacity:0.8;
			box-shadow:0 0 4px 4px #ccc;
			-moz-box-shadow:0 0 4px 4px #ccc;
			-webkit-box-shadow:0 0 4px 4px #ccc;
		}
		
			.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image,
			.ad-gallery .ad-image-wrapper .ad-next .ad-next-image{
				width: 17px;
				display:block !important;
				height: 31px;
				position: absolute;
				top:14px;				
				z-index: 101;
				opacity:0.8;
			}			
			.ad-gallery .ad-image-wrapper .ad-prev:hover .ad-prev-image,
			.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image:hover,
			.ad-gallery .ad-image-wrapper .ad-next:hover .ad-next-image,
			.ad-gallery .ad-image-wrapper .ad-next .ad-next-image:hover{
				opacity:1 !important;
			}
			.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image{
				background:url(../img/btn-ad-next.png) no-repeat 0 -38px;        					
				left:18px;								
			}
			.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
				background:url(../img/btn-ad-next.png) no-repeat 0 0;        
				right: 18px;								
			}
		
	.ad-gallery .ad-controls {
		height: 20px;
		position:absolute;
		right:0;
		bottom:100px;
		display:none;
	}
		.ad-gallery .ad-info {
			display:none;
			visibility:hidden;
		}
		.ad-gallery .ad-slideshow-controls {
			float: right;
		}
			.ad-gallery .ad-slideshow-controls .ad-slideshow-start, 
			.ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
				padding-left: 5px;
				cursor: pointer;
			}
			.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
				padding-left: 5px;
				font-size: 0.9em;
			}
			.ad-gallery .ad-slideshow-running .ad-slideshow-start {
				cursor: default;
				font-style: italic;
			}
	
	.ad-gallery .ad-nav {
		width:405px;
		position: relative;
		padding:32px 0 20px;
		margin-top:10px;
	}
		
		.ad-gallery .ad-forward,
		.ad-gallery .ad-back {
			position: absolute;
			top: 0;
			height: 100%;
			z-index: 10;
		}
		/* IE 6 doesn't like height: 100% */
		* html .ad-gallery .ad-forward, 
		* html .ad-gallery .ad-back,
		.ad-gallery .ad-forward,
		.ad-gallery .ad-back {
			height: 100%;
			cursor: pointer;
			display: block;
			width: 25px;
		}
		.ad-gallery .ad-back {      
			left: -25px;			
			background: url(../img/thumb_ad_scroll_back.png) 0 55% no-repeat;
		}
		.ad-gallery .ad-forward {     
			right: -35px;
			background: url(../img/thumb_ad_scroll_forward.png) 0 55% no-repeat;
		}
		
		.ad-gallery .ad-nav .ad-thumbs {
			overflow: hidden;
			width: 100%;
		}
			.ad-gallery .ad-thumbs .ad-thumb-list {
				float: left;
				height:90px;
				min-height:90px;
				height:auto !important;
				width: 9000px;
				list-style: none;
			}
			.ad-gallery .ad-thumbs li {
				float:left;
				display:inline-block;
				margin-right:1px;
			}
				.ad-gallery .ad-thumbs li a {
					display: block;
				}
				.ad-gallery .ad-thumbs li a img {
					border: 1px solid transparent;
					padding:2px;
					display: block;
				}
				.ad-gallery .ad-thumbs li a:hover img,
				.ad-gallery .ad-thumbs li a img:hover,
				.ad-gallery .ad-thumbs li a.ad-active img {
					border: 1px solid #E7E8E9;
				}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
position: absolute;
left: -9000px;
top: -9000px;
}

/************************** END SLIDESHOW **************************************/



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
