/* Style overrides for LaunchRock widget*/

/* Container/overall styles */
#launchrock .lrdiscoverwidget, #launchrock .lrdiscoverwidget input, #launchrock .lrdiscoverwidget textarea, #launchrock .lrdiscoverwidget select {font-family: 'Merriweather', Futura, "Trebuchet MS", Arial, sans-serif;}
#launchrock #lrcontent-I4T8PJ0O {width: 100%; margin: 0; padding: 0;}
#launchrock .light-a .site {border: 0; background-color: transparent; border-radius: 0; box-shadow: none;}

/* Sign-up form */
#launchrock #inviteformI4T8PJ0O {margin: 0 auto; width: 300px;}
#launchrock #inviteformI4T8PJ0O input[type="text"]{width: 278px; margin: 10px 0 5px 0; padding: 10px;}
#launchrock .lrdiscoverwidget .inviteform .field {border-color: #CCC;}
#launchrock .lrdiscoverwidget .inviteform .submit {border-color: #F59021; background-image: linear-gradient(top, #F9A851, #F59021);}
#launchrock #submit-I4T8PJ0O {width: 300px; margin: 5px 0 40px 0;}

/* Post sign-up content*/
#launchrock .lrdiscoverwidget #invite-label-I4T8PJ0O span {font-size: 14px; line-height: 21px;}
#launchrock .lrdiscoverwidget .like {text-align: center; margin: 20px auto;}
#launchrock .lrdiscoverwidget .social-links ul {margin: 0 auto;}
#launchrock .lrdiscoverwidget .social-links li {border-color: #CCC;}
#launchrock .lrdiscoverwidget .share-link label {float: none;}
#launchrock .lrdiscoverwidget .share-link .field-holder, #launchrock .lrdiscoverwidget .share-via-email .field-holder {background: #FFF;float: none; clear: both; width: auto; border-color: #CCC;}
#launchrock .lrdiscoverwidget .share-link .field-holder input{text-align: center; border-color: #CCC;}
#launchrock .lrdiscoverwidget .share-via-email {background: transparent; border: 0}
#launchrock .lrdiscoverwidget .share-via-email label {color: #000; text-align:center;}
#launchrock .lrdiscoverwidget .share-via-email label {color: #000;}
#launchrock .lrdiscoverwidget .share-via-email .field-holder input {border-color: #CCC;}
#launchrock .lrdiscoverwidget .share-via-email input.submit {border-color: #F59021; background-image: linear-gradient(top, #F9A851, #F59021); width: 100%;}
